.my-dialog-overlay {
  background-color: rgba(13, 0, 32, 0.75);
}

.my-dialog-host {
  &._as-notifications {
    .dialog-host__overlay { display: none }
    .dialog-host__dialog {
      display: block;
    }

    position: absolute;
    width: auto;
    height: auto;
    left: 100px;
    top: 150px;

    right: unset;
    bottom: unset;
  }
}